* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(216, 211, 211);
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

.header-img {
    position: relative;
    height: 250px;
    background-image: url('../image/macarons-1920.jpg');
    background-repeat: no-repeat;
    background-position: 57% 49%;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-90%, -50%);
    padding: 10px;
    font-weight: 32px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(250, 248, 244);
    text-shadow: 2px 3px 2px black;
}

header h1 {
    margin-bottom: 15px;
}

.header-bg {
    width: 100%;
    height: 100%;
}

/* NAV */

nav {
    height: 40px;
    line-height: 24px;
    text-align: center;
    font-size: 0;
    background-color: rgb(226, 221, 216);
}

.nav a, .nav li {
    display: inline-block;
    padding: 5px 30px;
    list-style: none;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
    color: black;
    transition: color .3s;
}

nav a:hover {
    color: rgb(177, 190, 139);
}

/* MAIN */

main {
    width: 60%;
    margin: 50px auto;
}

.main-heading {
    text-align: center;
    text-transform: uppercase;
    color: black;
    text-shadow: 2px 3px 2px rgb(110, 104, 104);
}

main section {
    margin: 30px 0;
    
}

.main-section {
    position: relative;
    height: 300px;
    background-position: center;
    background-attachment: fixed;
}

.main-text {
    position: absolute;
    padding: 20px 40px;
    bottom: 20px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: rgb(250, 248, 244);
    text-shadow: 2px 3px 2px black;
    z-index: 1;
}

.main-gb {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background-color: rgba(232, 238, 227, 0.5);
}

.top {
    background-image: url('../image/macarons.jpg');
}

.middle {
    background-image: url('../image/img-main-middle.jpg');
}

.bottom {
    background-image: url('../image/img-main.jpg');
}


/* RECIPE */

main {
    width: 70%;
}

.recipes-list img {
    position: relative;
    width: 30%;
    height: 450px;
    margin: 25px 0 35px 3px;
    left: 5%;
    transition: border .3s, border-radius .3s;
}

.recipes-list img:hover {
    border-radius: 50px;
    border: 5px solid rgba(250, 250, 250, 0.9);

}

.recipes-text {
    margin-right: 50px;
    margin-bottom: 120px;
    text-align: justify;
}

h3 {
    text-align: center;
    margin-bottom: 25px;
}

h4 {
    padding-bottom: 15px;
    text-decoration: underline;
}

section img {
    width: 320px;
    height: auto;
    margin: 20px 0 0 15px;
    float: right;
}

.omelette {
    width: 400px;
    height: auto;
}

/* CONTACT */

.contact {
    margin-top: 25px;
}

div input, textarea {
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: text;
    margin-bottom: 5px;
    background-color: rgb(194, 194, 184);
    border: 1px solid black;
    transition: border-color .3s;
}

div input:hover, textarea:hover {
    color: rgb(177, 190, 139);
}

.contact p {
    text-align: center;
    margin-bottom: 15px;
}

/* FOOTER */

footer {
    height: 100px;
    font-size: 14px;
    text-align: center;
    line-height: 100px;
    background-color: rgb(226, 221, 216);
    color: rgba(11, 12, 11, 0.8);
}
/* 
.footer-icon i {
    margin: 20px 8px;
    padding: 0 5px;
    font-size: 22px;
    transition: color .3s;
}

.footer-icon i:hover {
    color: rgb(177, 190, 139);
} */
