* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(216, 211, 211);
}

/* HEADER */

.header-img {
    position: relative;
    height: 250px;
    background-image: url(/image/macarons-1920.jpg);
    background-repeat: no-repeat;
    background-position: 57% 49%;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-90%, -50%);
    padding: 10px;
    color: rgb(250, 248, 244);
    text-shadow: 2px 3px 2px black;
    font-weight: 32px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

header h1 {
    margin-bottom: 15px;
}

.header-bg {
    width: 100%;
    height: 100%;
}

/* NAV */

nav {
    height: 40px;
    background-color: rgb(226, 221, 216);
    text-align: center;
    line-height: 24px;
    font-size: 0;
}

.nav a, .nav li {
    display: inline-block;
    padding: 5px 30px;
    color: rgba(136, 175, 74, 0.8);
    list-style: none;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: color .3s;
}

nav a:hover {
    color: rgb(214, 196, 159);
}

/* MAIN */

main {
    width: 60%;
    margin: 50px auto;
}

.main-heading {
    text-align: center;
    text-transform: uppercase;
    color: rgba(136, 175, 74, 0.8);
}

main section {
    margin: 30px 0;
    
}

.main-section {
    position: relative;
    height: 300px;
    background-position: center;
    background-attachment: fixed;
}

.main-text {
    position: absolute;
    padding: 20px 40px;
    bottom: 20px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: rgb(250, 248, 244);
    text-shadow: 2px 3px 2px black;
    z-index: 1;
}

.main-gb {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background-color: rgba(232, 238, 227, 0.5);
}

.top {
    background-image: url(/image/macarons.jpg);
}

.middle {
    background-image: url(/image/img-main-middle.jpg);
}

.bottom {
    background-image: url(/image/img-main.jpg);
}


/* RECIPE */

main {
    width: 70%;
}

.recipes-list a, .recipes-list li {
    margin: 25px auto;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: color .3s;
}

.recipes-list a:hover {
    color: rgb(102, 80, 93);
}

.recipes-text {
    margin-right: 50px;
    margin-bottom: 120px;
    text-align: justify;
}

h3 {
    text-align: center;
    margin-bottom: 25px;

}

h4 {
    padding-bottom: 15px;
    text-decoration: underline;
}

section img {
    float: right;
    margin: 20px 0 0 15px;
    width: 320px;
    height: auto;
}

.omelette {
    width: 400px;
    height: auto;
}

/* FOOTER */

footer {
    height: 100px;
    background-color: rgb(226, 221, 216);
    color: rgba(136, 175, 74, 0.8);
    text-align: center;
}

footer p {
    font-size: 16px;
}

.footer-icon i {
    margin: 20px 8px;
    padding: 0 5px;
    font-size: 28px;
    transition: color .3s;
}

.footer-icon i:hover {
    color: rgb(214, 196, 159);
}
